In [9]:
import sqlite3
import os.path
import PrettyTable as pt # muss bereitgestellt werden

In [10]:
def create_or_open_db(filename):
    file_exists = os.path.isfile(filename)
    conn = sqlite3.connect(filename)
    if file_exists:
        print(''' "{}" database successfully opened '''.format(filename))
    else:
        print(''' "{}" database successfully created '''.format(filename))
    return conn

In [5]:
conn = sqlite3.connect('uebung.db')
c = conn.cursor()

In [11]:
db_name = 'uebung.db'
#conn = sqlite3.connect(db_name)
#c = conn.cursor()
conn = create_or_open_db(db_name)
c = conn.cursor()

 "uebung.db" database successfully opened

### Übung  SQL
### Erzeugen von Sichten
Datenbanken werden zur Verwaltung, zur Abfrage und zur Gewinnung neuer Informationen (durch Verknüpfung vorhandener Information) genutzt.

#### Realitätsausschnitt und Datenbankrepräsentation
In der Übung wird die Arbeit mit Datenbanken unter Verwendung von mySQL demonstriert. Der wesentliche Inhalt besteht in der Erzeugung neuer Sichten aus einer bestehenden Datenbank. Die zur Verfügung bestehende Datenbank soll folgenden Realitätsausschnitt repräsentieren:

<img src="images/sql_1.jpg" height="300" width="700">

Dazu werden folgende Relationsschemata genutzt:

<img src="images/sql_2.jpg" height="300" width="600">

Die zur Verfügung stehenden Daten sind in der folgenden Abbildung dargestellt:

<img src="images/sql_3.jpg" height="300" width="700">

Die entsprechenden Datenbanktabellen stehen bereits zur Verfügung.

#### Relationsschema und die Datendefinitionen einer Tabelle

In [12]:
table = 'angehoeriger'
with conn:    
    c.execute('PRAGMA table_info(%s)' % table)    
    data = c.fetchall()

In [13]:
res_list = []
for row in data:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

TypeError: object of type 'NoneType' has no len()

#### Tabelleninhalte

In [14]:
tab_name = 'arbeitet_an'       # abteilung, angehoeriger, angestellter, arbeitet_an, projekt, standorte

In [15]:
command = "SELECT * FROM %s" % tab_name
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

OperationalError: no such table: arbeitet_an

#### Datenbankanfragen
Extrahieren Sie folgende Informationen aus der Datenbank `uebung.db`.
##### 1. alle männlichen Mitarbeiter

In [ ]:
command = "select * from angestellter where Geschlecht ='M'"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

##### 2. Thema und Mitarbeiter der Projekte

In [ ]:
command = "select p.Pname, a.vname, a.nname from projekt p, angestellter a, arbeitet_an aa where p.Pnummer=aa.PNr and a.SSN=aa.Essn order by p.Pname "
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

##### 3. Thema und Mitarbeiter von Projekt 3

In [ ]:
command = "select p.Pname, a.Nname, a.Vname from angestellter a, projekt p where p.Pnummer=3"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

##### 4. Vorname der Tochter von Mr. Smith

In [ ]:
command = "select ag.Angehoeriger_Name from angehoeriger ag, angestellter a where a.Nname='Smith' and ag.essn=a.ssn and ag.grad='Tochter' "
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

##### 5. Chef der Abteilung 5

In [ ]:
command = "select a.Nname, a.Vname from angestellter a, abteilung ab where ab.Abtnummer=5 and ab.Mngssn=a.Ssn" 
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

##### 6. Adresse von Mr. Jabbar

In [ ]:
command = "select a.Adresse from angestellter a where a.Nname='Jabbar'"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

##### 7. Chef von Mrs. Zelaya

In [ ]:
command = "select a.Nname, a.Vname from angestellter a, angestellter a1 where a1.Nname='Zelaya' and a1.Superssn=a.Ssn"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

##### 8. Gesamtarbeitsaufwand für Projekt 20

In [ ]:
command = "select sum(aa.Stunden) as Gesamtarbeitsaufwand from arbeitet_an aa where aa.Pnr=20"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

##### 9. Standort und Mitarbeiter von Abteilung 5

In [ ]:
command = "select a.Nname, a.VName, s.Abtstandort from  angestellter a, standorte s where a.Abt=5 and s.Abtnummer=5 order by s.Abtstandort"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

##### 10. Durchschnittsgehalt pro Abteilung

In [ ]:
command = "select a.Abt, count(*) as Anz_Mitarbeiter, avg(a.Gehalt) as Durchschnittsgehalt from angestellter a group by a.Abt"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)