### Erzeugen von Datenbanken

In [1]:
import sqlite3
import os.path
import PrettyTable as pt # muss bereitgestellt werden

Hilfsfunktion zum Einlesen eines Files. Hier beschreiben die Files das Anlegen von Datenbanktabellen als sqlite3-Kommandos.

In [2]:
def readData(file_name):
    f = open(file_name, 'r')
    with f:
        data = f.read()
        return data

#### Anlegen bzw. Ã–ffnen einer Datenbank

In [3]:
db_name = 'uebung.db'
conn = sqlite3.connect(db_name)
c = conn.cursor()
def create_or_open_db(filename):
    file_exists = os.path.isfile(filename)
    conn = sqlite3.connect(filename)
    if file_exists:
        print(''' "{}" database successfully opened '''.format(filename))
    else:
        print(''' "{}" database successfully created '''.format(filename))
    return conn
conn = create_or_open_db(db_name)
c = conn.cursor()

 "uebung.db" database successfully opened

#### Erzeugen von Tabellen in der Datenbank

In [13]:
file_name = 'speciality.sql'   # doctors.sql, speciality.sql, visits.sql

In [14]:
with conn:   
    sql = readData(file_name)
    c.executescript(sql)

#### Tabellen anzeigen

In [15]:
tab_name = 'VISITS'       # DOCTORS, SPECIALITY, VISITS

In [16]:
command = "SELECT * FROM %s" % tab_name
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

[['doctor_id', 'patient_name', 'vdate'],
 (210, 'Julia Nayer', '2013-10-15'),
 (214, 'TJ Olson', '2013-10-14'),
 (215, 'John Seo', '2013-10-15'),
 (212, 'James Marlow', '2013-10-16'),
 (212, 'Jason Mallin', '2013-10-12')]

#### Kreuzprodukt

In [17]:
tab_name1 = 'VISITS'
tab_name2 = 'SPECIALITY'
command = "SELECT * FROM %s"  % tab_name1 + ',' + tab_name2
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

[['doctor_id', 'patient_name', 'vdate', 'spl_id', 'spl_descrip', 'doctor_id'],
 (210, 'Julia Nayer', '2013-10-15', 1, 'CARDIO', 211),
 (210, 'Julia Nayer', '2013-10-15', 2, 'NEURO', 213),
 (210, 'Julia Nayer', '2013-10-15', 3, 'ARTHO', 212),
 (210, 'Julia Nayer', '2013-10-15', 4, 'GYNO', 210),
 (214, 'TJ Olson', '2013-10-14', 1, 'CARDIO', 211),
 (214, 'TJ Olson', '2013-10-14', 2, 'NEURO', 213),
 (214, 'TJ Olson', '2013-10-14', 3, 'ARTHO', 212),
 (214, 'TJ Olson', '2013-10-14', 4, 'GYNO', 210),
 (215, 'John Seo', '2013-10-15', 1, 'CARDIO', 211),
 (215, 'John Seo', '2013-10-15', 2, 'NEURO', 213),
 (215, 'John Seo', '2013-10-15', 3, 'ARTHO', 212),
 (215, 'John Seo', '2013-10-15', 4, 'GYNO', 210),
 (212, 'James Marlow', '2013-10-16', 1, 'CARDIO', 211),
 (212, 'James Marlow', '2013-10-16', 2, 'NEURO', 213),
 (212, 'James Marlow', '2013-10-16', 3, 'ARTHO', 212),
 (212, 'James Marlow', '2013-10-16', 4, 'GYNO', 210),
 (212, 'Jason Mallin', '2013-10-12', 1, 'CARDIO', 211),
 (212, 'Jason Mallin', '2013-10-12', 2, 'NEURO', 213),
 (212, 'Jason Mallin', '2013-10-12', 3, 'ARTHO', 212),
 (212, 'Jason Mallin', '2013-10-12', 4, 'GYNO', 210)]

#### Join, Natural Join, Cross Join

In [18]:
tab_name1 = 'DOCTORS'
tab_name2 = 'VISITS'
cond = 'DOCTORS.doctor_id = VISITS.doctor_id'
command = "SELECT %s.* FROM %s"  % (tab_name1, tab_name1 + ', ' + tab_name2 + ' WHERE ' + cond)
print(command)

SELECT DOCTORS.* FROM DOCTORS, VISITS WHERE DOCTORS.doctor_id = VISITS.doctor_id

In [19]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

[['doctor_id', 'doctor_name', 'degree'],
 (210, 'Dr. John Linga', 'MD'),
 (212, 'Dr. Ke Gee', 'MD'),
 (212, 'Dr. Ke Gee', 'MD')]

In [20]:
command = "SELECT DOCTORS.doctor_id,DOCTORS.doctor_name,VISITS.patient_name \
FROM DOCTORS INNER JOIN VISITS \
ON DOCTORS.doctor_id=VISITS.doctor_id \
WHERE DOCTORS.degree='MD'"
print(command)

SELECT DOCTORS.doctor_id,DOCTORS.doctor_name,VISITS.patient_name FROM DOCTORS INNER JOIN VISITS ON DOCTORS.doctor_id=VISITS.doctor_id WHERE DOCTORS.degree='MD'

In [21]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

[['doctor_id', 'doctor_name', 'patient_name'],
 (210, 'Dr. John Linga', 'Julia Nayer'),
 (212, 'Dr. Ke Gee', 'James Marlow'),
 (212, 'Dr. Ke Gee', 'Jason Mallin')]

In [22]:
command = "SELECT DOCTORS.doctor_id,DOCTORS.doctor_name,VISITS.patient_name \
FROM DOCTORS INNER JOIN VISITS \
ON DOCTORS.doctor_id=VISITS.doctor_id"
print(command)

SELECT DOCTORS.doctor_id,DOCTORS.doctor_name,VISITS.patient_name FROM DOCTORS INNER JOIN VISITS ON DOCTORS.doctor_id=VISITS.doctor_id

In [23]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

[['doctor_id', 'doctor_name', 'patient_name'],
 (210, 'Dr. John Linga', 'Julia Nayer'),
 (212, 'Dr. Ke Gee', 'James Marlow'),
 (212, 'Dr. Ke Gee', 'Jason Mallin')]

In [24]:
command = "SELECT DOCTORS.doctor_id,DOCTORS.doctor_name,VISITS.patient_name \
FROM DOCTORS,VISITS \
WHERE DOCTORS.doctor_id=VISITS.doctor_id"
print(command)

SELECT DOCTORS.doctor_id,DOCTORS.doctor_name,VISITS.patient_name FROM DOCTORS,VISITS WHERE DOCTORS.doctor_id=VISITS.doctor_id

In [25]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

[['doctor_id', 'doctor_name', 'patient_name'],
 (210, 'Dr. John Linga', 'Julia Nayer'),
 (212, 'Dr. Ke Gee', 'James Marlow'),
 (212, 'Dr. Ke Gee', 'Jason Mallin')]

#### Abfrage unter Verwendung von 3 Tabellen

In [26]:
command = "SELECT a.doctor_id,a.doctor_name,b.spl_descrip,c.patient_name,c.vdate \
FROM doctors a \
INNER JOIN speciality b \
ON a.doctor_id=b.doctor_id \
INNER JOIN visits c \
ON a.doctor_id=c.doctor_id \
WHERE a.doctor_id=212 AND c.vdate='2013-10-16'"
print(command)

SELECT a.doctor_id,a.doctor_name,b.spl_descrip,c.patient_name,c.vdate FROM doctors a INNER JOIN speciality b ON a.doctor_id=b.doctor_id INNER JOIN visits c ON a.doctor_id=c.doctor_id WHERE a.doctor_id=212 AND c.vdate='2013-10-16'

In [27]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

[['doctor_id', 'doctor_name', 'spl_descrip', 'patient_name', 'vdate'],
 (212, 'Dr. Ke Gee', 'ARTHO', 'James Marlow', '2013-10-16')]

#### Equi-Join

In [28]:
tab_name1 = 'DOCTORS'
tab_name2 = 'VISITS'
cond = 'DOCTORS.doctor_id = VISITS.doctor_id'
command = "SELECT * FROM %s"  % tab_name1 + ',' + tab_name2 + ' WHERE ' + cond
print(command)

SELECT * FROM DOCTORS,VISITS WHERE DOCTORS.doctor_id = VISITS.doctor_id

In [29]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

[['doctor_id', 'doctor_name', 'degree', 'doctor_id', 'patient_name', 'vdate'],
 (210, 'Dr. John Linga', 'MD', 210, 'Julia Nayer', '2013-10-15'),
 (212, 'Dr. Ke Gee', 'MD', 212, 'James Marlow', '2013-10-16'),
 (212, 'Dr. Ke Gee', 'MD', 212, 'Jason Mallin', '2013-10-12')]

#### Semi-Join

In [30]:
tab_name1 = 'DOCTORS'
tab_name2 = 'VISITS'
cond = 'DOCTORS.doctor_id = VISITS.doctor_id'
command = "SELECT DOCTORS.* FROM %s"  % tab_name1 + ', ' + tab_name2 + ' WHERE ' + cond
print(command)

SELECT DOCTORS.* FROM DOCTORS, VISITS WHERE DOCTORS.doctor_id = VISITS.doctor_id

In [31]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

[['doctor_id', 'doctor_name', 'degree'],
 (210, 'Dr. John Linga', 'MD'),
 (212, 'Dr. Ke Gee', 'MD'),
 (212, 'Dr. Ke Gee', 'MD')]

#### Outer-Join

In [32]:
command = "SELECT a.doctor_id,a.doctor_name,c.patient_name,c.vdate \
  FROM doctors a \
  LEFT JOIN visits c \
  ON a.doctor_id=c.doctor_id"
print(command)

SELECT a.doctor_id,a.doctor_name,c.patient_name,c.vdate   FROM doctors a   LEFT JOIN visits c   ON a.doctor_id=c.doctor_id

In [33]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

[['doctor_id', 'doctor_name', 'patient_name', 'vdate'],
 (210, 'Dr. John Linga', 'Julia Nayer', '2013-10-15'),
 (211, 'Dr. Peter Hall', None, None),
 (212, 'Dr. Ke Gee', 'James Marlow', '2013-10-16'),
 (212, 'Dr. Ke Gee', 'Jason Mallin', '2013-10-12'),
 (213, 'Dr. Pat Fay', None, None)]

In [34]:
command = "SELECT doctor_id,doctor_name,patient_name,vdate \
  FROM doctors \
  NATURAL LEFT OUTER JOIN visits"
print(command)

SELECT doctor_id,doctor_name,patient_name,vdate   FROM doctors   NATURAL LEFT OUTER JOIN visits

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)