### Relationale Algebra und SQL

In [1]:
import sqlite3
import os.path
import PrettyTable as pt # muss bereitgestellt werden

Hilfsfunktionen

In [2]:
def readData(file_name):
    f = open(file_name, 'r')
    with f:
        data = f.read()
        return data
def create_or_open_db(filename):
    file_exists = os.path.isfile(filename)
    conn = sqlite3.connect(filename)
    if file_exists:
        print(''' "{}" database successfully opened '''.format(filename))
    else:
        print(''' "{}" database successfully created '''.format(filename))
    return conn

#### Anlegen bzw. Öffnen einer Datenbank

In [3]:
db_name = 'relalg_sql.db'
conn = create_or_open_db(db_name)
c = conn.cursor()

 "relalg_sql.db" database successfully created

#### Erzeugen von Tabellen in der Datenbank

In [8]:
file_name = 'projekte.sql'   # mitarbeiter.sql, kunden.sql, projekte.sql

In [9]:
with conn:   
    sql = readData(file_name)
    c.executescript(sql)

#### Tabellen anzeigen

In [10]:
tab_name = 'Kunden'       # Mitarbeiter, Kunden, Projekte

In [11]:
command = "SELECT * FROM %s" % tab_name
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

[['Name', 'Vorname', 'Anmeldung'],
 ('Lehmann', 'Paul', '2015-01-09'),
 ('Baier', 'Kurt', '2017-11-12'),
 ('Gesch', 'Martin', '2010-12-06')]

#### Selektion
Wählt Zeilen aus einer Tabelle aus, die einer bestimmten Bedingung genügen.

`SELECT * FROM Mitarbeiter WHERE Nachname = 'Mustermann'`

In [ ]:
command = "SELECT * FROM Mitarbeiter WHERE Name = 'Mustermann'"
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

#### Projektion
Wählt bestimmte Spalten einer Tabelle aus.

`SELECT Name, Geburtsdatum FROM Mitarbeiter`

In [ ]:
command = "SELECT Name, Geburtsdatum FROM Mitarbeiter"
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

#### Vereinigung
Fügt die Zeilen zweier Tabellen mit gleicher Spaltenzahl in einer Tabelle zusammen. Die Namen der jeweiligen Spalten der zwei Tabellen müssen nicht identisch sein, lediglich der Datentyp bzw. Wertebereich des Inhalts. Doppelte Zeilen werden automatisch unterdrückt.

`SELECT * FROM Mitarbeiter UNION SELECT * FROM Kunden`

In [ ]:
command = "SELECT * FROM Kunden UNION SELECT * FROM Mitarbeiter"
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)