### Erzeugen von Datenbanken

In [ ]:
import sqlite3
import os.path
import PrettyTable as pt # muss bereitgestellt werden

Hilfsfunktion zum Einlesen eines Files. Hier beschreiben die Files das Anlegen von Datenbanktabellen als sqlite3-Kommandos.

In [ ]:
def readData(file_name):
    f = open(file_name, 'r')
    with f:
        data = f.read()
        return data

#### Anlegen bzw. Ã–ffnen einer Datenbank

In [ ]:
db_name = 'uebung.db'
conn = sqlite3.connect(db_name)
c = conn.cursor()
def create_or_open_db(filename):
    file_exists = os.path.isfile(filename)
    conn = sqlite3.connect(filename)
    if file_exists:
        print(''' "{}" database successfully opened '''.format(filename))
    else:
        print(''' "{}" database successfully created '''.format(filename))
    return conn
conn = create_or_open_db(db_name)
c = conn.cursor()

#### Erzeugen von Tabellen in der Datenbank

In [ ]:
file_name = 'speciality.sql'   # doctors.sql, speciality.sql, visits.sql

In [ ]:
with conn:   
    sql = readData(file_name)
    c.executescript(sql)

#### Tabellen anzeigen

In [ ]:
tab_name = 'SPECIALITY'       # DOCTORS, SPECIALITY, VISITS

In [ ]:
command = "SELECT * FROM %s" % tab_name
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

#### Kreuzprodukt

In [ ]:
tab_name1 = 'VISITS'
tab_name2 = 'SPECIALITY'
command = "SELECT * FROM %s"  % tab_name1 + ',' + tab_name2
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

#### Join, Natural Join, Cross Join

In [ ]:
tab_name1 = 'DOCTORS'
tab_name2 = 'VISITS'
cond = 'DOCTORS.doctor_id = VISITS.doctor_id'
command = "SELECT %s.* FROM %s"  % (tab_name1, tab_name1 + ', ' + tab_name2 + ' WHERE ' + cond)
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

In [ ]:
command = "SELECT DOCTORS.doctor_id,DOCTORS.doctor_name,VISITS.patient_name \
FROM DOCTORS INNER JOIN VISITS \
ON DOCTORS.doctor_id=VISITS.doctor_id \
WHERE DOCTORS.degree='MD'"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

In [ ]:
command = "SELECT DOCTORS.doctor_id,DOCTORS.doctor_name,VISITS.patient_name \
FROM DOCTORS INNER JOIN VISITS \
ON DOCTORS.doctor_id=VISITS.doctor_id"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

In [ ]:
command = "SELECT DOCTORS.doctor_id,DOCTORS.doctor_name,VISITS.patient_name \
FROM DOCTORS,VISITS \
WHERE DOCTORS.doctor_id=VISITS.doctor_id"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

#### Abfrage unter Verwendung von 3 Tabellen

In [ ]:
command = "SELECT a.doctor_id,a.doctor_name,b.spl_descrip,c.patient_name,c.vdate \
FROM doctors a \
INNER JOIN speciality b \
ON a.doctor_id=b.doctor_id \
INNER JOIN visits c \
ON a.doctor_id=c.doctor_id \
WHERE a.doctor_id=212 AND c.vdate='2013-10-16'"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

#### Equi-Join

In [ ]:
tab_name1 = 'DOCTORS'
tab_name2 = 'VISITS'
cond = 'DOCTORS.doctor_id = VISITS.doctor_id'
command = "SELECT * FROM %s"  % tab_name1 + ',' + tab_name2 + ' WHERE ' + cond
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

In [ ]:
tab_name1 = 'DOCTORS'
tab_name2 = 'VISITS'
cond = 'DOCTORS.doctor_id = VISITS.doctor_id'
command = "SELECT DOCTORS.* FROM %s"  % tab_name1 + ', ' + tab_name2 + ' WHERE ' + cond
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

#### Semi-Join

#### Outer-Join

In [ ]:
command = "SELECT a.doctor_id,a.doctor_name,c.patient_name,c.vdate \
  FROM doctors a \
  LEFT JOIN visits c \
  ON a.doctor_id=c.doctor_id"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)

In [ ]:
command = "SELECT doctor_id,doctor_name,patient_name,vdate \
  FROM doctors \
  NATURAL LEFT OUTER JOIN visits"
print(command)

In [ ]:
c.execute(command)
rows = c.fetchall()    
res_list = []
for row in rows:
    res_list.append(row)
head = []
for i in range(0,len(c.description)):
    head.append(c.description[i][0])
pt.PrettyTable(res_list, head)